html {
	background: linear-gradient(to right top, #141e30, #243b55);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

#main h1,
p {
	margin: 0;
}
#main h1 {
	font-weight: 900;
}
#main p {
	font-weight: 500;
}
#landing-page,
#submit-page {
	margin-top: 5%;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	font-size: 5vh;
}

#welcoming,
#submit-box {
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 2%;
}
