body{
	margin: 0;
	overflow: hidden;
}

#main h1,
p {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

#main h1 {
	font-weight: 900;
	font-size: clamp(15px , 20vw, 100px);
	display: flex;
	justify-content: center;
	width: 50%;
	padding-right: 5%;
	padding-left: 5%;
}

#main p {
	font-weight: 500;
	text-align: center;
}

#submit-page {
	display: flex;
}

#landing-page {
	display: none;
}

#landing-page,
#submit-page {
	margin-top: 5%;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	font-size: 2.5em;
	width: 100%;
	height: 100%;
}

#welcoming,
#submit-box {
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 5%;
	padding-right: 4%;
	padding-left: 4%;
	border-radius: 50px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#submit-box{
	width: 50%;
}
#nick {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 30px;
	margin-top: 2%;
	width: 50%;
	padding: 0.75%;
	border-radius: 50px;
	text-align: center;
	border: none;
	color: var(--background-navy);
}

#nick:focus {
	outline: none;
	box-shadow: none;
}

#przycisk {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 30px;
	margin-top: 2%;
	padding: 0.75%;
	padding-right: 4%;
	padding-left: 4%;
	border-radius: 50px;
	color: #ffffff;
	background: none;
	border: solid 4px #ffffff;
	transition-timing-function: ease-in;
	transition-delay: 5ms;
	transition-duration: 0.3s;
}

#przycisk:hover {
	cursor: pointer;
	background: #ffffff;
	color: var(--background-navy);
}

.fade{
	animation-name: fade;
	animation-duration: 1s;
	animation-timing-function: var(--ease);
	animation-fill-mode: both;
}

.rfade{
	animation-name: fade;
	animation-duration: 1s;
	animation-timing-function: var(--ease);
	animation-fill-mode: both;
	animation-direction: reverse;
}

@keyframes fade {
	from {opacity: 1;}
	to {opacity: 0;}
}
:root{
	background: linear-gradient(to right top, var(--background-navy) 0%, var(--background-blue) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;

	--ease: cubic-bezier(0.33, 1, 0.68, 1);
	--background-navy: #141e30;
	--background-blue: #243b55;
}